body {
  background-image: url("https://source.unsplash.com/featured/?{money},{bank}");
  background-size: cover;
}
.logo img {
  display: flex;
  float: left;
  justify-content: left;
  padding-left: 0px;
  height: 50px;
  width: 56px;
  position: fixed;
  top: 0vh;
  left: 0vh;
}
nav {
  display: flex;
  float: right;
  justify-content: right;
  font-family: "Carter One", cursive;
}
nav ul {
  height: 59px;
  /* to make home,abou.. in a single line */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
nav ul li {
  /* to remove numbering */
  list-style: none;
  padding: 23px;
  font-size: 30px;
  font-weight: bolder;
}
/* when we hover home...will become bold */
li.nav-item {
  display: flex;
  float: right;
  justify-content: right;
  text-size-adjust: initial;
  font-family: "Carter One", cursive;
}
li.nav-item a:hover {
  color: teal;
  /* to remove underline as by default links have underline */
  float: center;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
  background-color: blanchedalmond;
  border-style: outset;
  border-radius: 23px;
  cursor: pointer;
}
h1 {
  font-family: "Carter One", cursive;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  padding-left: 200px;
}
table style {
  margin: auto;
  border: solid black;
}
div.table {
  padding-left: 2px;
  padding-right: 2px;
  justify-content: center;
  margin-bottom: 96px;
  margin-left: 406px;
}
th {
  font-family: "Carter One", cursive;
  font-weight: bolder;
  font-size: 20px;
  color: black;
  background-color: teal;
  height: 56px;
  border: solid black;
}
td {
  font-family: "Carter One", cursive;
  font-size: 15px;
  color: black;
  background-color: wheat;
  height: 2em;
  padding-left: 12px;
  padding-right: 12px;
  word-spacing: 0.02em;
  border: solid black;
}
